extends layout

block content
  div.magnet-tile
    img.magnet-tile-icon(src="#{icon}")
    h1.magnet-tile-title #{title}
    h2.magnet-tile-subtitle #{venue} - #{date}
    ul.magnet-tile-list
      each item in events
        li #[a(href="#{item.link}") #[em #{item.time}] #{item.title}]
